.dayInfo {
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: 400;
}

.activitiesInfo {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 400;

    span {
        font-weight: bold;
    }
}