.item {

    padding: 20px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px rgba(0, 185, 68, 0.1);
    transition: box-shadow 0.3s;

    & > * {
        text-decoration: none;
        color: #455154;
    }

    &:hover {
        box-shadow: 0 0 17px 3px rgba(0, 185, 68, 0.4);
    }
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.arrow {
    flex-shrink: 0;
    width: 13px;
}

