.page {
    padding: 35px 0;
}

.heading {
    line-height: 1.1;
    font-size: 30px;
    color: var(--primary-violet);
    text-align: left;
}

.content {
    outline: 1px solid red;
    padding-top: 20px;
    border-top: 2px solid var(--primary-violet);
}

.text {
    p {
        margin-top: 0;
        font-size: 12px;
        line-height: 1.1;
        text-align: left;
        color: var(--primary-gray);
    }

    img {
        margin: auto;
        width: 100% !important;
        height: auto !important;
    }



}