.page {
    padding: 35px 0 60px;
    font-size: var(--article-font-size, 12px);
    position: relative;
    transition: font-size 0.2s ease-out;
}

.heading {
    line-height: 1.1;
    font-size: 2.5em;
    color: var(--primary-violet);
    text-align: left;
    word-break: break-word;
}

.content {
    padding-top: 20px;
    border-top: 2px solid var(--primary-violet);
}

.text {
    color: var(--primary-gray);
    font-weight: 400;
    font-size: 1em;

    h1 {
        font-size: 1.5em !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2em;
        line-height: 1.1;
        margin: 0 0 2px;
    }


    p {
        margin: 0 0 15px;
        font-size: 1em;
        line-height: 1.1;
        text-align: left;
        color: var(--primary-gray);
    }

    ul, ol {
        margin: 0 0 12px;
        font-size: 1em;
        line-height: 1.1;
    }

    li {
        margin-bottom: 5px;
    }

    blockquote {
        font-size: 1em;
        color: var(--primary-gray);
    }

    img {
        display: block;
        margin: auto;
        width: 100% !important;
        height: auto !important;
        max-width: 100% !important;
    }

    table {
        margin-bottom: 15px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        border-bottom: 2px solid #570F63;
        border-right: 2px solid #570F63;
        color: #570F63;
        font-size: 1em;
    }

    th {
        padding: 9px 7px;
        color: white;
        background-color: #731982;
        border: 2px solid #570F63;
    }

    td {
        padding: 9px 7px;
        border-left: 2px solid #570F63;
        vertical-align: center;

        p {
            color: #570F63;
            margin: 0;
        }
    }

    tr:nth-child(1) {
        padding: 9px 7px;
        background-color: #731982;
        border: 2px solid #570F63;

        p {
            color: white;
            font-weight: bold;
        }
    }

    tr:nth-child(even) {
        background-color: #FFFFFF;
    }

    tr:nth-child(even) {
        background-color: #EAE1EB;
    }
}

.button {
    position: fixed;
    padding: 0;
    right: 14px;
    bottom: 3px;
    border: none;
    background-color: transparent;
}

.downArrow {
    position: absolute;
    bottom: 30px;
    left: 0;
}

